# Replace the placeholders with your actual credentials

# Telegram Bot Token
TELEGRAM_BOT_TOKEN = '123456789:ABCdefGHIjklMNO_pqrSTUvwxYZ'

# Login Credentials
USERNAME = 'exampleuser@example.com'
PASSWORD = 'ExamplePassword123!'

# Player IDs
PLAYERS1 = '1234567'
PLAYERS2 = '7654321'

# Base URL for the reservation system
BASE_URL = 'https://example.baanreserveren.nl'
CHAT_ID = 999999999